node_modules/

# bem and libs
libs/
<%= assemblerName === 'bem-tools' ? '.bem/cache/' : '.enb/tmp/' %>
*bundles*/*/*.*
!*bundles*/*/*.bemjson.js
!*bundles*/.bem/*
*pages*/*/*.*
!*pages*/*/*.bemjson.js
!*pages*/.bem/*
